@{
    ViewData["Title"] = "Home"; 
}

<div class="indexStyle">
    <div class="slogan">
        <p>
            Here at Exemplary Games we have merchandise for all kinds of people for video game lovers
            all over the world, we strive to make the process of buying or selling simply, easy and
            of course exemplary!
        </p>
    </div>
    <div class="actions">
        <div class="browse">
            <p>Ready to start browsing? Click the button to get started!</p>
            <a asp-controller="Games" asp-action="Index">Browse<i class="fa-solid fa-magnifying-glass"></i></a>
        </div>

        <div class="picture"></div>
    </div>
</div>

